// Place all the styles related to the Logins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login input[type="text"] {
    width:300px;
    height:25px;
}

.login input[type="password"] {
    width:300px;
    height:25px;
}
