                     // Place all the styles related to the Users controller here.
                     // They will automatically be included in application.css.
                     // You can use Sass (SCSS) here: http://sass-lang.com/


                     .field input{
                         width:300px;
                         height:25px;
                     }

                     .userSubmit{
                         height: 30px;
                         width: 120px;
                     }
